<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!--Defaultpagetoserve-->
	<welcome-file-list>
		<welcome-file>Nof1_AppEngine.html</welcome-file>
	</welcome-file-list>
	
	<!--RequestFactoryServlet-->
	<servlet>
		<servlet-name>requestFactoryServlet</servlet-name>
		<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
		<init-param>
			<param-name>symbolMapsDirectory</param-name>
			<!--You'll need to compile with -extras and move the symbolMaps directory
			to this location if you want stacktrace deobfuscation to work-->
			<param-value>WEB-INF/classes/symbolMaps/</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>requestFactoryServlet</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>uploadUrlService</servlet-name>
	    <servlet-class>org.nof1trial.nof1.server.services.UploadServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>uploadUrlService</servlet-name>
	    <url-pattern>/upload/uploadService</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>uploadComplete</servlet-name>
	    <servlet-class>org.nof1trial.nof1.server.servlet.UploadComplete</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>uploadComplete</servlet-name>
		<url-pattern>/uploadcomplete</url-pattern>
   	</servlet-mapping>
	
	<!-- System servlet -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	
	<!-- Remove old trial data cron job -->
	<servlet>
		<servlet-name>removeOld</servlet-name>
		<servlet-class>org.nof1trial.nof1.server.cron.RemoveOld</servlet-class>
		<init-param>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>removeOld</servlet-name>
		<url-pattern>/cron/removeOld</url-pattern>
	</servlet-mapping>
  
	<!-- Restrict to only logged in users & force https -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/favicon.ico</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/upload.html</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/uploadcomplete</url-pattern>
        </web-resource-collection>
    </security-constraint>

</web-app>