<!DOCTYPE html>
<!--
html layout template for blog posts. Is standard except adds some links to
related links in the aside sidebar.
-->
<html>
{% include head.html %}
<body>
<div class="site">
	{% include header.html %}
  
  <div id="content-wrapper">
  <div class="inner clearfix">
  <section id="main-content">
    {{ content }}
	</section>
	<aside id="sidebar">
		{% include sidebuttons.html %}

		<h2>Related Posts</h2>
		<ul>
			{% for post in site.related_posts limit:3 %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>

		{% include smallprint.html %}
  </aside>
  </div>
  </div>

</div>
</body>
</html>
