<?xml version="1.0" encoding="utf-8"?>
<!--
  Nof1 Trials helper, making life easier for clinicians and patients in N of 1 trials.
  Copyright (C) 2012 John Lawson
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You may obtain a copy of the GNU General Public License at  
  <http://www.gnu.org/licenses/>.
  
  Contributors:
      John Lawson - initial API and implementation
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nof1trial.nof1"
    android:versionCode="6"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <!-- Permission to receive the BOOT_COMPLETED broadcast -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Permission to vibrate phone. Used for notifications. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission to retrieve the list of accounts in the Accounts Service -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permission to request authtokens from the AccountManager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Permission to write to the SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission to access internet. Used to send data to server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to allow app to check whether connected to internet or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="org.nof1trial.nof1.permission.RECEIVER"
        android:description="@string/receiver_permission"
        android:label="Nof1 Receiver permission"
        android:protectionLevel="signatureOrSystem" >
    </permission>

    <!-- Custom permission to prevent access to Receiver -->
    <uses-permission android:name="org.nof1trial.nof1.permission.RECEIVER" />

    <application
        android:name="org.nof1trial.nof1.App"
        android:backupAgent="org.nof1trial.nof1.Backup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@style/Theme.Sherlock.Light.ForceOverflow" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI1FtYRWzPgQfAIPsUOLpPYqusCdbY0cXGbfgIMQ" />

        <activity android:name=".activities.HomeScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountsActivity"
            android:label="@string/account_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.DoctorLogin"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.UserPrefs" />
        </activity>
        <activity
            android:name=".activities.DoctorConfig"
            android:exported="false"
            android:label="@string/configuration"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.UserPrefs" />
        </activity>
        <activity
            android:name=".activities.FormBuilder"
            android:exported="false"
            android:label="@string/form_builder"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.DoctorConfig" />
        </activity>
        <activity
            android:name=".activities.UserPrefs"
            android:exported="false"
            android:label="@string/settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.Questionnaire"
            android:label="@string/data_input"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.GraphChooser"
            android:label="@string/view_graphs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity android:name=".activities.GraphDisplay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.GraphChooser" />
        </activity>
        <activity
            android:name=".activities.CommentList"
            android:label="@string/title_comment_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.CommentDetail"
            android:label="@string/title_comment_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.CommentList" />
        </activity>
        <activity
            android:name=".activities.AddNote"
            android:label="@string/add_note" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.ScheduleViewer"
            android:label="@string/schedule" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.About"
            android:label="@string/about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nof1trial.nof1.activities.HomeScreen" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Debug Nof1" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FinishedService"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.nof1trial.nof1.MAKE_FILE" />
                <action android:name="org.nof1trial.nof1.DOWNLOAD_SCHEDULE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="org.nof1trial.nof1.TRIAL_COMPLETE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.Saver"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.nof1trial.nof1.SAVE_CONFIG" />
                <action android:name="org.nof1trial.nof1.SAVE_DATA" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.AccountService"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.nof1trial.nof1.REGISTER_ACCOUNT" />
                <action android:name="org.nof1trial.nof1.REFRESH_CREDENTIALS" />
            </intent-filter>
        </service>
        <service
            android:name=".services.Scheduler"
            android:exported="false" >
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:permission="org.nof1trial.nof1.permission.RECEIVER" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NetworkChangeReceiver"
            android:enabled="false"
            android:permission="org.nof1trial.nof1.permission.RECEIVER" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>